*{
    margin: 0;
    padding: 0; /*This is using to clear css default properties*/
    font-family: Lato, sans-serif;
}
.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #83EAF1 -4.98%, #63A4FF 104%);
}

