/*.table {
    margin: 10px;
}*/



.table-container {
    overflow-x: auto;
  }
  
  .table {
    min-width: 650px; /* O ajusta según sea necesario */
   
  }
  
  @media (max-width: 640px) {
    .table {
      min-width: 0; /* O ajusta según sea necesario */
      font-size: 14px; /* O ajusta según sea necesario */
      align-items: center;
    }
  }