.datePicker {
	border-radius: 10px;
	margin:10px;
}

@media (max-width: 640px) {
	.css-4pax7l-MuiPickersLayout-root {
		display: grid;
		grid-auto-columns: max-content auto max-content;
		grid-auto-rows: max-content auto max-content;
		overflow: hidden;
		min-width: 235px;
		background-color: #fff;
	}

	.container-calendar{
		width: min-content;
	}
}
